body { margin: 0; padding: 8px; margin-bottom: auto; }
blockquote blockquote { margin-left: 0em }
form {
margin-bottom: 0px }
.postarea { text-align: center }
.postarea table { margin: 0px auto; text-align: left }
.thumb {
border: none; float: left; margin: 2px 20px }
.nothumb { float: left; background: #eee; border: 2px dashed #aaa;
text-align: center; margin: 2px 20px; padding: 1em 0.5em 1em 0.5em; }
.reply blockquote, blockquote :last-child {
margin-bottom: 0em }
.reflink a { color: inherit; text-decoration: none }
.reply .filesize { margin-left: 20px }
.userdelete { float: right; text-align: center; white-space: nowrap }
.replypage .replylink { display: none }
html, body {
    background-color: #EEFFEE;
    color: #000000;
}
a {
 background:inherit;
        color:#345C34;
        text-decoration:none;
        font-family:sans-serif;

}
a:visited {
        background:inherit;
        color:#345C34;
        text-decoration:none;
        font-family:sans-serif;
}
    a:hover {
        color:#117743;
        background:inherit;
        text-decoration:underline;
        font-family:sans-serif;
}
div.delete {
}
.adminbar {
    clear:both;
    float:left;
    font-size: .8em;
}
.adminbar {
        text-align:right;
        background:inherit;
        clear:both;
        float:right;
}
.logo {
        clear:both;
        text-align:center;
        background:inherit;
        font-size:24pt;
        color:#117743;
        /*width:100%;*/
}

.theader, .passvalid {
    text-align:center;
    padding:2px;
    color:#2266AA;
    clear: both;
    font-weight: bold;
    margin-bottom: .5em;
        background:#00E010;
        color:#FFFFFF;
        width:100%;
}
.postarea {
        background:inherit;
}
.rules {
        font-size:10px;
        font-family:sans-serif;
}
.postblock {
        background:#88DD88;
        color:#000000;
        font-weight:800;
}
.footer {
        text-align:center;
        font-size:10px;
        font-family:sans-serif;
}
.dellist {
    background:inherit;
    text-align:center;
}
.delbuttons {
    background:inherit;
    text-align:center;
    padding-bottom:4px;
}
.managehead {
    background:#0FE18F;
    color:#000000;
    font-family:sans-serif;
    font-size:14px;
    padding:0px;
}
.postlists {
    background:#FFFFFF;
    width:100%;
    padding:0px;
    color:#000000;
}
.row1 {
    background:#9AF6D2;
    font-family:sans-serif;
    font-size:12px;
    color:#000000;
}
.row2 {
      background:#FFFFFF;
        font-family:sans-serif;
        font-size:12px;
        color:#000000;
}
.unkfunc {
    color:#117743;
}
.reflink {
    font-size: .8em;
    font-weight: bold;
}
.filesize {
    font-size:12px;
    font-family:sans-serif;
    text-decoration:underline;
    padding-left:3em;
}
.filetitle {
    background:inherit;
    font-size:18px;
    font-family:serif;
    color:#0F5D0C;
    font-weight:800;
}
.postername {
    /*
    background:inherit;
    font-family:serif;
    color:#117743;
    font-weight:bold;
    */
}
.postertrip {
    /*
    color:#FF3300;
    display:none;
    */
}
.oldpost, .notabene {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#0F5D0C;
        font-weight:800;
}
.omittedposts {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#070707;
        font-weight:800;
}
.reply {
    background:#DAF0D6;
    color:#000000;
    font-family:serif;
}
blockquote {
    margin: .5em .5em .5em 1em;
}

.reply blockquote {
    margin: .5em;
}
.doubledash {
vertical-align:top;
    clear:both;
    float:left;
}
.replytitle {
      background:inherit;
        font-size:18px;
        font-family:serif;
        color:#0F5D0C;
        font-weight:800;

}
.commentpostername {
    /*
        background:inherit;
        font-size:12px;
        font-family:serif;
        color:#117743;
        font-weight:800;

    */
}
.thumbnailmsg {
    background:inherit;
    font-size:9px;
    font-family:sans-serif;
    color:#000000;

}
hr {
    border-style: solid none none none;
    border-width: 1px;
    border-color: #BBBBBB;
}
table {
    border-style: none;
}
table td {
    border-style: none;
}
.nothumb {
    background-color: #FFFFFF;
    border-style: dotted;
    margin: .3em .5em;
}
.abbrev {
    color:#666666;
}
.highlight {
    background: #88DD88;
    border: 2px dashed #117743;

}
dl.menu dt {
    background:#DDDDDD;
    border: solid 1px #CCCCCC;
    margin-top: 1em;
    padding-left: .5em;
    cursor: pointer;

}
dl.menu dd {
    margin-left: .5em;
    padding-left: .5em;
    border-left: solid 1px #CCCCCC;
}
dl.menu dd.hidden {
    display: none;
}
.signature {
        background: #00FF00;
        color: #00AA00;
}
.signature a {
        color: #006600;
}
.signature a:hover {
        color: #003300;
}

.badsignature {
        background: #FF0000;
        color: #AA0000;
}
.badsignature a {
        color: #660000;
}
.badsignature a:hover {
        color: #330000;
}

.nonsignature {
background: #ffe66f;
color: #7a5a0c;
}
.nonsignature a {
        color: #957220;
}
.nonsignature a:hover {
        color: #4d3a0d;
}

.postbody blockquote {
        background:inherit;
 color:#117743;
}
.postbody blockquote blockquote{
        color:#406010;
        margin:0;
}
.postbody blockquote blockquote blockquote{
        color:#204010;
        margin:0;
}
.spoiler {
        background: #B3E6B3 !important;
        color: #B3E6B3 !important;
}
.spoiler blockquote{
    background: #B3E6B3 !important;
    color: #B3E6B3 !important;
}
.spoiler:hover {
        background: #B3E6B3 !important;
        color: #000000 !important;
}
.spoiler:hover blockquote{
    color:#789922 !important;
}
.spoiler blockquote:hover {
    color:#789922 !important;
}
.errorMessage{
    background:#EEaaaa;
    text-align:center;
    padding:2px;
    color:#880000;
    clear: both;
    font-weight: bold;
    margin-bottom: .5em;
    border: solid 1px #117743;
}
.adminMenu{
vertical-align:top;
background: #DAF2E9;
}

.hlTable td{
background: #DAF0D6;
}

.postername, .postertrip, .commentpostername {
    display: inline; visibility: visible; font-weight: bold; color: #339;
}
.postertrip {
    color: #993;
}
.hidden-thread {
    color: #666; padding: 5px 0 0 28px; min-height: 24px; vertical-align: middle; background: url('images/hidden.png') no-repeat left center;
}
form > div + br[clear="left"] {
display: block; height: 1px;
}
.reply label {
font-size: 80%; color: #666;
}
.reply label span {
font-size: 125%;
}
label, label input {
vertical-align: middle;
}
a.loading {
    padding-left: 16px;
    background: url('images/loading.gif') no-repeat left center;
}
.x_unfoldreply td {
    border-color: #117743;
}
.x_qrattached:hover {
    border-bottom: 1px #ccc dotted;
}
div a.show-hide-thread {
    display: block; float: right; font-size: 70%; text-decoration: none;
}
div a.show-hide-thread:hover {
    text-decoration: underline; color: #f33;
}

.logline {background: #DDDDDD;}
.nomargin{margin: 0; padding: 0 0 0 20px;}
.smallFont{font-size: 70%;}

.hovblock
{
    font-size: 140%;
    text-align: center;
}
.hovblock:hover
{
    background: #FF6600;
}
.postInfo{
background: #A8A8A8;
}

.img_loading{
    position:absolute;
    z-index: 10;
    background: #88DD88;
    border: 2px dashed #117743;
}

.img_loading img{
margin-top: -2px;
margin-right: 8px;
vertical-align: middle;
border: none;
}

.comment_loading_img{
border: none;
vertical-align: baseline;
}

.popup_loading_img{
border: none;
}

/* Y reply form*/
#y_replyform {
    display: block; border: 1px #ccc solid; margin: 0 2px 2px 2px; padding: 5px;
    background-color: #ddd; -moz-border-radius: 5px;
    float: left; width: 98%;
}
.y_replyform{
    overflow: hidden;
    display: none;
}
.y_replyform .clear{
    clear: both;
}
#y_replyform textarea {
    width: 99%; border: 1px #888 solid;
}
#y_replyform div.hidden {
    margin: 0;
    padding: 0;
}
#y_replyform div {
    overflow: hidden; margin-top: 5px;
}
#y_replyform div.y_replyform_fields{
    position: relative;
}
#y_replyform p {
    float: left;
    margin: 0;
    padding-right: 1em;
    vertical-align: middle
}
.y_replyform_anon .y_replyform_fields p{
    line-height: 40px;
    height: 40px;
    min-height: 2.5em;
}
#y_replyform_password, #y_replyform_captcha{
    display: none;
}
.y_replyform_anon #y_replyform_password, .y_replyform_anon #y_replyform_captcha{
    display: block;
}
#y_replyform_captcha img{
    display: block;
    padding-right: 110px;
}
#y_replyform_captcha{
    position: relative;
}
#y_replyform_captcha input{
    width: 100px;
    min-width: 15ex;
    position: absolute;
    top: 0;
    left: 155px;
}
#y_replyform_captcha input.inactive{
    font-style: italic;
    color: #666;
}
#y_replyform_captcha input.valid{
    background: #cfc;
}
#y_replyform_captcha input.invalid{
    background: #f55;
}
input#y_replyform_password{
            position: absolute;
            left: 155px;
            bottom: 0;
            top: auto;
            vertical-align: top;
            height: 1em;
}
#y_replyform_sage label{
}
#y_replyform_goto select{
    width: 100px;
}
#y_replyform label{
}
#y_replyform input[type="text"], #y_replyform input[type="password"] {
    border: 1px #888 solid;
}
#y_replyform_buttons input{
    border: 1px #666 solid; margin-left: 10px;
}
 #y_replyform_file input{
    margin-top: 2px;
}
#y_replyform_buttons input{
    margin-top: 3px;
}
.y_replyform_anon #y_replyform_file input{
    margin-top: 10px;
}
.y_replyform_anon #y_replyform_buttons input{
    margin-top: 12px;
}

.omittedposts.expanded span{
  display: none
}

.omittedposts img{
border: none;
vertical-align: baseline;
}

a img{ border: 0}

.category {
        font-family: sans-serif;
        font-size: small;
        margin-bottom: 8px;
        background: #013947;
}

.header {
        background: #013947;
        color: #FFFFFF;
        padding: 0px 3px 0px 3px;
        font-weight: bold;
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        border-top: 1px solid #000000;
}


.list {
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        border-bottom: 1px solid #000000;
}

.list div a {
        display: block;
        text-decoration: none;
        color: #D4D7A9;
        padding: 0px 3px 0px 3px;
}

.list div a:hover {
        color: #F4F7C9;
}
/*
#x_replyform {
    display: block; border: 1px #117743; solid; margin: 0 2px 2px 2px; padding: 5px;
    background-color: #DAF0D6;
;
}
#x_replyform textarea {
    width: 100%; border: 1px #117743; solid;
}
#x_replyform div {
    overflow: hidden; margin-top: 5px;
}
#x_replyform label {
    float: left; margin-right: 10px;
}
#x_replyform input[type="text"], #x_replyform input[type="password"] {
    border: 1px #117743; solid;
}
#x_replyform input[type="file"] > input[type="text"] {
    border: 1px #117743; solid;
}
#x_replyform input[type="submit"] {

}
#x_replyform button {

}
#x_replyform_goto{margin: 0px 4px 0px 4px; width: 120px}
#x_replyform_captcha_input{margin: 0px 4px 0px 4px; width: 70px}
#x_replyform_password_input{margin: 0px 4px 0px 0px; width: 70px}
*/
