
/development.ini
/.project
/.pydevproject
/.metadata/*
/data/*
/.settings/*
*.pyc
/Orphereus.egg-info/*
/Orphereus/public/js/wakaba_en.js
/Orphereus/public/js/wakaba_ru.js
/Orphereus/public/stat_*.png